.weatherCard {
    width: 300px;
    border: 1px solid #ede8e8;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 1px 2px 2px #6e747d;
    transition: transform .2s linear;
    margin-bottom: 50px;
    position: relative;
    margin-right: 20px; /* Добавлен отступ между карточками */
}

.weatherCard:hover{
    cursor: pointer;
    transform: scale(1.01);
}

.name{
    margin-bottom: 10px;
}

.data{
    font-weight: 300;
}

.weatherItemHeader{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
}

.weatherItemHeaderRight{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: -10px;
    right: 10px;
}

.img img{
    width:50px;
    height: 50px;
}

.weatherState{
    margin-bottom: 10px;
    font-size: 14px;
    width: 65px;
}

.weatherItemBody{
    margin-bottom: 20px;
}

.weatherItemFooter{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.weatherItemFooterTemp{
    display: flex;
    margin-bottom: 10px;
}

.temp{
    font-size: 46px;
    margin-right: 10px;
}

.metrics{
    font-size: 18px;
}

.weatherItemFooterFellslike{
    font-size: 14px;
    color: #9999;
}


.weatherItemFooterRight{
    position: absolute;
    right: 0;
    top: 13px;
}

.weatherItemFooterRight span{
    color: orangered;
}

.weatherParamsWind, .weatherParamsHumidity{
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 12px;
}

.weatherParamsPressure{
    font-size: 14px;
    margin-right: 5px;
}

.remove{
    position: absolute;
    right: 2px;
    top: -6px;
    font-size: 22px;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.weatherCard:hover .remove{
    opacity: 1;
}

.remove:hover{
    font-size: 23px;
}
